/*Remover - Temporário!-----
----------------------------
 /* hover para mudar de cor
 .owl-prev:hover::before, .owl-next:hover::before{
 }
 
 /* crio as setas e centralizo 
 .owl-prev::after, .owl-next::after {
    
 }
 
 /* ajusto a seta next
 .owl-next::after {
   
 }
----------------------------
*/

.borda {
    border: 1px solid red;
}
/*-------------------------------*/
* {
    margin: 0;
    padding: 0;
}
a, a:hover{
    color: #fff;
    text-decoration: none;
}
section, header, footer {
    position: relative;
    display: block;
    width: 100%;
}
#title {
    margin-bottom: 17px;
}
.font-h3-black {
    font-size: 40px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 47px;
}
.font-h3 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 47px;
    
}
.font-h2 {
    letter-spacing: 0.3px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.tem-bg {
    background-image: url(../imgs/main-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1172px;
    }
}
/*Header*/
header {
    width: auto;
    height: 100%;
}
#logo {
    position: absolute;
    z-index: 2;
}
@media only screen and (max-width:830px) {
    #logo {
        display: none;
    }
    .navbar {
        height: initial !important;
        padding-left: 5% !important;
        
    }
    .navbar-toggler {
        border: none !important;
    }
}
/*Alterações no navbar Bootstrap*/
.bg-light {
    background-color: transparent !important;
    background-image: url(../imgs/menu-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50.1% 0;
    z-index: 1;
}
.navbar {
    text-transform: uppercase;
    align-items: center;
    padding-left: 27%;
    height: 78px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1.4px;
}
.nav-item {
    padding-right: 15px;
}
/*Banner-topo*/
.banner-principal {
    height: 810px;
}
.bg-header {
    background-image: url(../imgs/banner-principal.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 100%;
}
.content-banner {
    padding: 20% 0 0 0%;
    display: block;
    max-width: 35rem;
}
.btn-scrooll-banner {
    position: absolute;
    top: 83%;
    left: 46%;
}
/*Section SERVICOS*/
.servicos {
    margin-top: 10px;
    margin-bottom: 80px;
}
.servicos .container div{
    display: block !important;
    text-align: center !important;
}
.carousel {
    max-width: 900px;
    padding: 10px;
    margin: 30px auto;
}
.titulo-servicos {
    padding-top: 200px;
}
@media only screen and (max-width: 823px) {
    .carousel, .owl-next, .owl-prev {
        display: none;
    }
}
.img-servicos {
    width: 299px;
    height: 349px;
    background-image: url(../imgs/img2-servicos-carousel.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 95%;
    display: block;
    text-align: center;
}
.mask-img-servicos {
    width: 299px;
    height: 349px;
}
.mask-img-servicos:hover {
    background-image: url(../imgs/img1-servicos-carousel.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 95%;
    animation-name: animacao-in;
    animation-duration: 0.5s;
}
.mask-img-servicos:not(:hover) {
    animation-name: animacao-out;
    animation-duration: 0.5s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes animacao-in {
    0% {
        background-image: url(../imgs/img2-servicos-carousel.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 95% 95%;
    }
    100% {
        background-image: url(../imgs/img1-servicos-carousel.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 95% 95%;
    }
  }
  
  /* Standard syntax */
  @keyframes animacao-in {
    0% {
        background-image: url(../imgs/img2-servicos-carousel.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 95% 95%;
    }
    100% {
        background-image: url(../imgs/img1-servicos-carousel.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 95% 95%;
    }
  }
  /* Standard syntax */
  @keyframes animacao-out {
    0% {
        background-image: url(../imgs/img1-servicos-carousel.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 95% 95%;
    }
    100% {
        background-image: url(../imgs/img2-servicos-carousel.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 95% 95%;
    }
  }
/* alterações no btn prev e next originais do owl carousel 2 */
.owl-prev, .owl-next{
    color: transparent !important;
    width: 82px;
    height: 82px;
    left: -9.2%;
    top: 35%;
    position: absolute;
    background: none !important;
 }
 .owl-next {
    left: 100%;
 }
 .owl-prev::before, .owl-next::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/btn-servicos-carousel-left.png);
    background-position: center top;
    background-repeat: no-repeat;
    line-height: 50px;
 }
 .owl-next::before {
    background-image: url(../imgs/btn-servicos-carousel-right.png);
 }
 

