/*Remover - Temporário!-----
----------------------------
 /* hover para mudar de cor
 .owl-prev:hover::before, .owl-next:hover::before{
 }
 
 /* crio as setas e centralizo 
 .owl-prev::after, .owl-next::after {
    
 }
 
 /* ajusto a seta next
 .owl-next::after {
   
 }
----------------------------
*/

.borda {
    border: 1px solid red;
}
/*-------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:hover{
    color: #fff;
    text-decoration: none;
}
section, header, footer {
    position: relative;
    display: block;
    width: 100%;
}
#title {
    margin-bottom: 17px;
}
.font-h2 {
    letter-spacing: 0.3px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.font-h2-small {
    letter-spacing: 0.3px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
h3 {
    font-size: 20px;
}
.font-h3-black {
    font-size: 40px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 47px;
}
.font-h3 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 47px;
    
}
.font-h4 {
    color: white;
    font-size: 15px;
}
.tem-bg {
    background-image: url(../imgs/main-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1172px;
    }
}
/*----SECTION HEADER---------------------------------------*/
header {
    width: auto;
    height: 100%;
}
#logo {
    display: none;
}
/*Alterações no navbar Bootstrap*/
.bg-light {
    background-color: transparent !important;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 50.1% 0;
    z-index: 1;
}
.navbar-toggler {
    border: none !important;
}
.navbar {
    text-transform: uppercase;
    align-items: center;
    height: initial !important;
    padding-left: 5% !important;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1.4px;
}
.nav-item {
    padding-right: 15px;
}
/*For tablet */
@media only screen and (min-width: 600px) {
    #logo {
        display: none;
    }
}
/*For desktop*/
@media only screen and (min-width: 769px) {
    #logo {
        display: initial;
        position: absolute;
        z-index: 2;
    }
    .bg-light {
        background-image: url(../imgs/menu-bg.jpg);
    }
    .navbar {
        padding-left: 27% !important;
        height: 78px !important;
    }
}
/*Banner-topo*/
.banner-principal {
    height: 768px;
}
.bg-header {
    background-image: url(../imgs/banner-principal.jpg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    height: 100%;
}
.content-banner {
    padding: 20% 0 0 0%;
    display: block;
    max-width: 27rem;
}
#logo-mobile {
    float: right;
    padding: 8px;
    max-width: 100px;
}
/*mobile first*/
.btn-scrooll-banner {
    position: absolute;
    top: 63%;
    left: 40%;
}
/*For tablets */
@media only screen and (min-width: 600px) {
    .content-banner {
        max-width: 27rem;
    }
    .banner-principal {
        height: 810px;
    }
    .bg-header {
        background-position: center top;
    }
    .btn-scrooll-banner {
        top: 83%;
        left: 46%;
    }
}
/*For desktop*/
@media only screen and (min-width: 769px) {
    .banner-principal {
        height: 810px;
    }
    .bg-header {
        background-position: center top;
    }
    .btn-scrooll-banner {
        top: 83%;
        left: 46%;
    }
    #logo-mobile {
        display: none;
    }
}
/*----SECTION SERVICOS---------------------------------------*/
.servicos {
    margin-bottom: 80px;
}
.servicos .container div{
    display: block !important;
    text-align: center !important;
}
.carousel {
    max-width: 900px;
    padding: 0px;
    margin: 30px auto;
}
.titulo-servicos {
    padding-top: 200px;
}

.img-servicos {
    width: 299px;
    height: 349px;
    background-image: url(../imgs/img2-servicos-carousel.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 95%;
    display: block;
    text-align: center;
}

.mask-img-servicos {
    width: 299px;
    height: 349px;
}
.mask-img-servicos:hover {
    background-image: url(../imgs/img1-servicos-carousel.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 95%;
    animation-name: animacao-in;
    animation-duration: 0.5s;
}
.mask-img-servicos:not(:hover) {
    animation-name: animacao-out;
    animation-duration: 0.5s;
}
.texto1 {
    display: block;
    text-align: center;
    opacity: 1;
    padding-top: 200px;
}
.mask-img-servicos:hover .texto1 {
    opacity: 0;
    padding: 0;
}
.texto2 {
    display: block;
    text-align: center;
    opacity: 0;
}
.mask-img-servicos:hover .texto2 {
    opacity: 1;
    padding: 0 30px;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes animacao-in {
    0% {
        background-image: url(../imgs/img2-servicos-carousel.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 95% 95%;
    }
    100% {
        background-image: url(../imgs/img1-servicos-carousel.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 95% 95%;
    }
  }
  
  /* Standard syntax */
  @keyframes animacao-in {
    0% {
        background-image: url(../imgs/img2-servicos-carousel.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 95% 95%;
    }
    100% {
        background-image: url(../imgs/img1-servicos-carousel.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 95% 95%;
    }
  }
  /* Standard syntax */
  @keyframes animacao-out {
    0% {
        background-image: url(../imgs/img1-servicos-carousel.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 95% 95%;
    }
    100% {
        background-image: url(../imgs/img2-servicos-carousel.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 95% 95%;
    }
  }
/* alterações no btn prev e next originais do owl carousel 2 */
.owl-prev, .owl-next{
    display: none;
    color: transparent !important;
    width: 82px;
    height: 82px;
    left: -9.2%;
    top: 35%;
    position: absolute;
    background: none !important;
 }
 .owl-next {
    left: 100%;
 }
 .owl-prev::before, .owl-next::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/btn-servicos-carousel-left.png);
    background-position: center top;
    background-repeat: no-repeat;
    line-height: 50px;
 }
 .owl-next::before {
    background-image: url(../imgs/btn-servicos-carousel-right.png);
 }
 .carousel-mobile {
    padding-left: 4%;
}
@media only screen and (min-width: 410px) {
    .carousel-mobile {
        padding-left: 10%;
    }
}
@media only screen and (min-width: 600px) {
    .carousel-mobile {
        padding-left: 4%;
    }
}
@media only screen and (min-width: 769px) {
    .carousel, .owl-next, .owl-prev {
        display: initial;
    }
    .carousel {
        padding: 10px;
    }
    
} 
/*----SECTION A EMPRESA---------------------------------------*/
.a-empresa {
    height: 1085px;
    margin-bottom: 10%;
}
.bg-a-empresa {
    background-image: url(../imgs/bg-a-empresa.jpg);
    background-repeat: no-repeat;
    background-position: 70% 0%;
    height: 100%;
}
#title-a-empresa {
    padding: 50% 0 0 5%;
}
.content-a-empresa {
    padding: 5% 0 0 0%;
    display: block;
    max-width: 27rem;
}
@media only screen and (min-width: 600px) {
    .bg-a-empresa {
        background-position: center top;
    }
    #title-a-empresa {
        padding: 20% 0 0 35%;
    }
    .content-a-empresa {
        max-width: 55rem;
        padding: 5% 0 0% 46%;
    }
}
@media only screen and (min-width: 769px) {
    .bg-a-empresa {
        background-position: center top;
    }
    #title-a-empresa {
        padding: 12% 0 0 41%;
    }
    .content-a-empresa {
        max-width: 100%;
        padding: 5% 0 0% 50%;
    }
}
/*----SECTION INFORMATIVOS---------------------------------------*/
.informativos {
    margin-bottom: 5rem;
}
.titulo-informativos {
    display: block;
    text-align: center;
    margin-bottom: 5rem;
}
.img-informativos {
    background-image: url(../imgs/img-informativos.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    max-width: 355px;
    height: 275px;
}
.content-informativos {
    padding: 20px;
    margin-bottom: 30px;
}
.texto-informativos {
    max-width: 200px;
    margin-left: 30px;
    padding-top: 190px;
}
.block {
    padding-bottom: 15px;
}
.btn-informativos {
    display: block;
    padding-left: 12%;
}
.btn-default {
    width: 200px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0%;
    background-color: #FF9400;
}
@media only screen and (min-width: 600px) {
   .btn-informativos {
        padding-left: 42%;
   }
   .texto-informativos {
        margin-left: 12px;
   }
}
@media only screen and (min-width: 769px) {
    .texto-informativos {
        margin-left: 30px;
   }
}
/*----SECTION NOSSAS UNIDADES---------------------------------------*/
